<ol id="menu">
    <button id="back"></button>
    <li>
        <h1>Choix du fichier</h1>
        <div>
            <input type="file" id="file" />
        </div>
    </li>
    <li>
        <h1>Taille de la grille</h1>
        <div>
            <button>+</button>
            <button>-</button>
        </div>
    </li>
    <li>
        <h1>Détection des couleurs</h1>
        <div>
            <button id="detectAuto">Detecter automatiquement</button>
            <ul id="colors"></ul>
            <button id="previewBtn">Apercu</button>

        </div>
    </li>    
</ol>
<main>
    <img id="source" src="">
    <img id="preview" src="">
</main>