:host {
    display: flex;
    flex-direction: row;
    position: relative;
}

#svgmain {
    flex: 1 0 0px;
    image-rendering: pixelated;
    transition: opacity 0.2s;
}

#svgmain.loading {
    visibility: hidden;
    opacity: 0;
}

path {
    fill-rule: evenodd;
    fill-opacity: 0;
}

#svgmain #svggrid, #svgmain text {
    pointer-events: none;
}

#svgmain .colorgroup.active path {
    fill: var(--threadcolor);
    fill-opacity: 1;
    stroke: black;
    stroke-dasharray: 3 1;
}

:host(.originalcolor) #svgmain .colorgroup.active path {
    fill: var(--origcolor);
}

#svgmain text {
    text-anchor: middle;
    alignment-baseline: central;
}

#svgmain .colorgroup.active text {
    font-size: 10px;
    stroke: white;
    fill: black;
    stroke-width: 0.2px;
    font-weight: bolder;
}

#threadimage {
    image-rendering: pixelated;
    visibility: visible;
}

#srcimage {
    image-rendering: pixelated;
    visibility: hidden;
}

#greyimage {
    image-rendering: pixelated;
    visibility: hidden;
}

:host(.colorselected) #threadimage,
:host(.originalcolor) #threadimage {
    visibility: hidden;
}

:host(.originalcolor) #srcimage {
    visibility: visible;
}

:host(.colorselected) #greyimage {
    visibility: visible;
}


#back {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    display: block;
    font-size: 2em;
    background-image: url('../../assets/arrow_back.svg');
    background-color: #ffffff6b;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

#back:focus {
    background-color: #f0f0f0;
    outline: none;
}

#back:hover {background-color: #f7f7f7}
#back:active {background-color: #e8e8e8}

#reset {
    position: absolute;
    top: 90px;
    left: 20px;
    height: 50px;
    width: 50px;
    display: block;
    visibility: hidden;
    font-size: 2em;
    cursor: pointer;
}

:host(.colorselected) #reset {
    visibility: visible;
}
