<div class="toolcontainer">
    <button class="toolitem" data-icon="background-light">Background</button>
    <div class="submenu">
        <button class="toolitem" data-icon="background-light">Light</button>
        <button class="toolitem" data-icon="background-dark">Dark</button>
    </div>
</div>
<div class="toolcontainer">
    <button class="toolitem" data-icon="thread-mode">Thread mode</button>
    <div class="submenu">
        <button class="toolitem">Original</button>
        <button class="toolitem">DMC</button>
    </div>
</div>
<button class="toolitem">Palette</button>